*{
  margin: 0;
  padding: 0;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin: 5vh 5%;
}
img {
  width: 100%;
}
h2 {
  padding: 2vh 0;
}
#tour{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}
.red{
  color: tomato;
}
ul li {
  padding: 1vh 0;
}